PORT=5000
MONGODB_URI=mongodb://localhost:27017/feedants_competition
JWT_SECRET=supersecretfeedantskey2026
RAZORPAY_KEY_ID=rzp_test_mockkeyid
RAZORPAY_KEY_SECRET=rzp_test_mockkeysecret
NODE_ENV=development
